@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Tranning.Models.LoginModel

@{
    ViewData["Title"] = "Login Page";
    // khong ke thua mac dinh _Layout.cshtml
    // custom cho ke thua _MyLayout.cshtml
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "my-3 border p-2" }))
{
    @if (ViewData["MessageLogin"] != null)
    {
        <p class="text-danger text-center">
            @ViewData["MessageLogin"]
        </p>
    }
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        @* <input type="text" class="form-control" id="username" name="username"> *@
        @Html.TextBoxFor(m => m.Username, new { @class="form-control", @id="username" } )
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        @* <input type="password" class="form-control" id="password" name="password"> *@
        @Html.PasswordFor(m => m.Password, new {@class="form-control", @id="password"} )
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
}