@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Tranning.Models.Trainee_courseModelDetail

@{
    ViewData["Title"] = "Add Trainee to course";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="row vh-100">
    <div class="col-sm-12 col-md-12"> 
        <div class="card">
            <div class="card-header">
                <h5> Add trainee to course</h5>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" asp-action="Add">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="trainee_id">Trainee</label>
                                <select asp-for="trainee_id" class="form-control" asp-items="@(new SelectList(ViewBag.Users, "Value", "Text"))">
                                </select>
                                <span class="text-danger" asp-validation-for="trainee_id"></span>
                            </div>
                          </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="course_id">Course</label>
                                <select asp-for="course_id" class="form-control" asp-items="@(new SelectList(ViewBag.Stores, "Value", "Text"))">
                                </select>
                                <span class="text-danger" asp-validation-for="course_id"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="status" class="control-label"></label>
                            <select class="form-control" asp-for="status">
                                <option value="Active">Active</option>
                                <option value="Deactive">Deactive</option>
                            </select>
                            <span asp-validation-for="status" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                                <a class="btn btn-info btn-sm" href="@Url.Action("Index","Assign")">Back to List</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
